/*Variables*/

:root {
    
    --basic-white: #ffffff;
    --basic-grey: #EEEEEE;
    --basic-black: #000000;

    --basic-blue-ligth: #81B3D2;
    --basic-blue: #669EC0;
    --basic-blue-dark: #5496BD;

    --basic-brown-ligth: #766357;
    --basic-brown: #604E43;
    --basic-brown-dark: #503E33;

    --basic-text: #333333;
    --basic-background: #888888;
    --input-background: #F2F2F2;
    --input-background-hover: #EBEBEB;
    --input-background-focus: #ffffff;
    --input-focus-border: #E5E5E5;


}

/*General*/

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-text);
    text-transform: uppercase; 
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Navigation */

.main-header {
    text-align: center;
}

.main-navigation {
    color: var(--basic-black);
    font-weight: bold;
    line-height: 24px;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navigation-list a {
    color: var(--basic-black);
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: var(--basic-blue-ligth);
}

.navigation-list a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.main-navigation .active-page {
    color: var(--basic-brown-ligth);
}

/* Big Welcome banner */

.welcome {
    text-align: center;
}

.welcome p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.welcome-banner {
    width: 1200px;
    height: 509px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--basic-black);
    background-image: url("/img/index/background_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-banner::after {
    content: url(/img/index/background_shape.png);
}

/* Advantages */

.advantages .heading {
    line-height: 26px;
    text-align: center;
}

.advantages-list {
    list-style: none;
    background-color: var(--basic-grey);
}

.advantages-item {
    text-align: center;
}

.advantages-item:first-child,
.advantages-item:nth-child(2) {
    background-color: var(--basic-blue-ligth);
    color: var(--basic-white);
}

.advantages-item h3,
.advantages-item h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.town-desc-list {
    list-style: none;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

/*Appointment*/

.appointment {
    text-align: center;
}

.appointment-subtitle{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;  
}

.appointment-desc {
    line-height: 24px;
}
/*Appointment form*/

.appointment-item {
    font: inherit;
    font-weight: bold;
    line-height: 26px;
}

.appointment-item input {
    font: inherit;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    
    height: 38px;
    border: none;
}

.calendar input {
    width: 346px;
    background-color: var(--input-background);
    background-image: url("/img/index/calendar_icon.svg");
    background-position: 320px, 0;
    background-repeat: no-repeat;
}

.quantity input {
    width: 114px;
    background-color: var(--input-background);
}

.appointment-item input:hover {
    background-color: var(--input-background-hover);
}

.appointment-item input:focus {
    height: 34px;
    background-color: var(--input-background-focus);
    border: 2px solid var(--input-focus-border);
}

.calendar input:hover {
    background-image: url("/img/index/calendar_icon_hover.svg");
}

.calendar input:focus {
    background-image: url("/img/index/calendar_icon_active.svg");
    width: 342px;
}

.quantity input:focus {
    width: 110px;
}

/*Button*/

.button {
    font: inherit;
    font-weight: bold;
    
    color: var(--basic-white);
    border: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.appointment-button {
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
    background-color: var(--basic-brown-ligth);
}

.appointment-button:hover,
.appointment-button:focus {
    background-color: var(--basic-brown);
}

.appointment-button:active {
    background-color: var(--basic-brown-dark);
    color: rgba(255, 255, 255, 0.3);
}

.hotel-search-button {
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-blue-ligth);
    width: 458px;
    height: 58px;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: var(--basic-blue);
}

.hotel-search-button:active {
    background-color: var(--basic-blue-dark);
    color: rgba(255, 255, 255, 0.3);
}

/*Footer Contacts*/

.footer-contacts {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

/*Footer Socials*/

.footer-socials ul {
    list-style: none;
}

.social-button .wrap {
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue-ligth);
    /* Проблема с центрированием иконок в обертке */
}

.social-button .wrap:hover,
.social-button .wrap:focus {
    background-color: var(--basic-blue);
}

.social-button .wrap:active {
    background-color: var(--basic-blue-dark);
    /* Проблема с прозрачностью иконок в активном состоянии */
}

/*Footer Copyright*/

.footer-copyright {
    line-height: 26px;

}

.footer-copyright a {
    display: block;
    width: 115px;
    height: 41px;
    
    background-image: url("/img/index/logo_htmlacademy_2.svg");
    background-repeat: no-repeat;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    background-image: url("/img/index/logo_htmlacademy_hover.svg");
}

.footer-copyright a:active {
    background-image: url("/img/index/logo_htmlacademy_active.svg");
}


/* Hotels page */

/* Hotel filter */

.hotel-filter {
    width: 1200px;
    /* height: 217px; */
    background-image: url("/img/hotels/background.jpg");
    background-repeat: no-repeat;
}

.filter fieldset{
    border: none;
}

.filter legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter ul {
    list-style: none;
}

.hotel-filter-button {
    width: 137px;
    height: 36px;
    background-color: gray; /*пока чтобы видно было transparent*/
    border: 2px solid red; /*тоже чтобы было видно basic-white*/
    text-transform: uppercase;
}

.hotel-filter-button:hover,
.hotel-filter-button:focus {
    background-color: var(--basic-white);
}

/* Sort panel */

.sort-panel h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sort-panel p {
    font-size: 12px;
    line-height: 18px;
}

.sort-by {
    list-style: none;
}

.sort-order {
    list-style: none;
}

.sort-button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px dashed var(--basic-blue-ligth);
    /*не нравится как проявляет себя подчеркивание при интерактиве*/
    background-color: transparent;
    opacity: 0.3;
}

.sort-active {
    border: none;
    color: var(--basic-blue-ligth);
    opacity: 1;
}

.sort-button:hover,
.sort-button:focus {
    color: var(--basic-blue-ligth);
    opacity: 1;
}

.sort-button:active {
    color: var(--basic-black);
    border: none;
    opacity: 1;
}

.order-button {
    width: 11px;
    height: 10px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

.sort-order .up {
    background-image: url("/img/hotels/up_rect_icon.svg");
}

.sort-order .up-active {
    background-image: url("/img/hotels/up_rect_active_icon.svg");
}

.sort-order .up:hover,
.sort-order .up:focus,
.sort-order .up-active:hover,
.sort-order .up-active:focus {
    background-image: url("/img/hotels/up_rect_hover_icon.svg");
}

.sort-order .up:active,
.sort-order .up-active:active {
    background-image: url("/img/hotels/up_rect_active_icon.svg");
}

.sort-order .down {
    background-image: url("/img/hotels/down_rect_icon.svg");
}

.sort-order .down-active {
    background-image: url("/img/hotels/down_rect_active_icon.svg");
}

.sort-order .down:hover,
.sort-order .down:focus,
.sort-order .down-active:hover,
.sort-order .down-active:focus {
    background-image: url("/img/hotels/down_rect_hover_icon.svg");
}

.sort-order .down:active,
.sort-order .down-active:active {
    background-image: url("/img/hotels/down_rect_active_icon.svg");
}

/* Searched hotels */

.hotels-list {
    list-style: none;
}

.hotels-list .hotel-name {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;  
}

.hotels-list .hotel-name:hover,
.hotels-list .hotel-name:focus {
    color: var(--basic-blue-ligth);
}

.hotels-list .hotel-name:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.hotel-rating {
    display: block;
    width: 110px;
    height: 27px;
    text-align: center;
    background-color: var(--input-background);

}

/*Buttons*/

.detail-button {
    display: block;
    width: 110px;
    height: 27px;
    background-color: var(--basic-blue-ligth);
}

.detail-button:hover,
.detail-button:focus {
    background-color: var(--basic-blue);
}

.detail-button:active {
    background-color: var(--basic-blue-dark);
    color: rgba(255, 255, 255, 0.3);
}

.book-button {
    width: 142px;
    height: 27px;
    background-color: var(--basic-brown-ligth);
}

.book-button:hover,
.book-button:focus {
    background-color: var(--basic-brown);
}

.book-button:active {
    background-color: var(--basic-brown-dark);
    color: rgba(255, 255, 255, 0.3);
}