/*Variables*/

:root {
    
    --basic-white: #ffffff;
    --basic-grey: #EEEEEE;
    --basic-black: #000000;

    --basic-blue-ligth: #81B3D2;
    --basic-blue: #669EC0;
    --basic-blue-dark: #5496BD;

    --basic-brown-ligth: #766357;
    --basic-brown: #604E43;
    --basic-brown-dark: #503E33;

    --basic-text: #333333;
    --basic-background: #888888;
    --input-background: #F2F2F2;
    --input-background-hover: #EBEBEB;
    --input-background-focus: #ffffff;
    --input-focus-border: #E5E5E5;


}

/*General*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    position: relative;
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-text);
    text-transform: uppercase; 
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }

/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Main header */


/* Navigation */

.main-header {
    text-align: center;
    width: 100%;    
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 56px;

    color: var(--basic-black);
    font-weight: bold;
    line-height: 24px;
    
}

.navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navigation-list li:first-child {
    margin-left: 73px;
}

.navigation-list li:nth-child(2) {
    margin-left: 134px;
    margin-right: auto;
}

.navigation-list li:nth-child(3) {
    margin-right: 147px;
    margin-left: auto;
}

.navigation-list li:last-child {
    margin-right: 73px;
}

.navigation-list a {
    color: var(--basic-black);
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: var(--basic-blue-ligth);
}

.navigation-list a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.main-navigation .active-page {
    color: var(--basic-brown-ligth);
}

/* Container */

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 10px;   
}

.main-header-logo-wrap {
    position: absolute;    
}

/* Big Welcome banner */

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.welcome p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.welcome-banner {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 509px;
    margin-bottom: 43px;
      
    background-image: url("../img/index/background_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-banner-image {
    margin-top: 80px;
}

.welcome-banner::after {
    content: url("../img/index/background_shape.png");
    margin-bottom: -5px; 
} 

/* Advantages */

.advantages .heading {
    line-height: 26px;
    text-align: center;
    margin-bottom: 51px;
}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--basic-grey);
}

.advantages-item {
    text-align: center;
    min-height: 256px;    
}

.advantages-item:first-child,
.advantages-item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;

    /* outline: 5px solid rgb(0, 247, 255);
    outline-offset: -5px; */
    background-color: var(--basic-blue-ligth);
    color: var(--basic-white);
}

.advantages-item-desc-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 256px;
}

.advantages-item-desc-wrap2 {
    margin: auto;    
}

.advantages-item-desc-wrap .devil-bridge-img {
    order: -1;
}

.advantages-item h3,
.advantages-item h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.town-desc-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.town-desc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 85px;
}

.town-desc-item img{
    order: -1;
}

/*Appointment*/

.appointment {
    text-align: center;
    margin-top: 61px;
}

.appointment-subtitle{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;  
}

.appointment-desc {
    line-height: 24px;
    margin-bottom: 40px;
}

.map-box { 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/*Appointment form*/

.appointment-form {
    position: absolute;
    
    width: 568px;
    height: 395px;
    
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    background-color: var(--basic-white);
}


.appointment-item {
    font: inherit;
    font-weight: bold;
    line-height: 26px;
    margin-left: 55px;
    /* margin-right: 55px; */
    
       
    /* outline: 5px solid rgb(255, 0, 234);
    outline-offset: -5px;   */
}

.appointment-item:first-child {
    margin-top: 55px;
}

.appointment-item.children {
    margin-left: 0;
    margin-right: 55px;
}

.appointment-form .hotel-search-button {
    margin-top: 44px;
    margin-bottom: 55px;
    margin-left: 55px;
    margin-right: 55px;
}

.appointment-item.calendar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 458px;
}

.appointment-item input {
    font: inherit;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    
    height: 38px;
    border: none;
    
}

.calendar input {
    width: 346px;
    background-color: var(--input-background);
    background-image: url("../img/index/calendar_icon.svg");
    background-position: 320px, 0;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.quantity input {
    width: 114px;
    background-color: var(--input-background);
    text-align: center;
    margin-left: 37px;
}

.appointment-item input:hover {
    background-color: var(--input-background-hover);
}

.appointment-item input:focus {
    height: 34px;
    background-color: var(--input-background-focus);
    border: 2px solid var(--input-focus-border);
}

.calendar input:hover {
    background-image: url("../img/index/calendar_icon_hover.svg");
}

.calendar input:focus {
    background-image: url("../img/index/calendar_icon_active.svg");
    width: 342px;
}

.quantity input:focus {
    width: 110px;
}

/*Button*/

.button {
    font: inherit;
    font-weight: bold;
    
    color: var(--basic-white);
    border: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.appointment-button {
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
    background-color: var(--basic-brown-ligth);
}

.appointment-button:hover,
.appointment-button:focus {
    background-color: var(--basic-brown);
}

.appointment-button:active {
    background-color: var(--basic-brown-dark);
    color: rgba(255, 255, 255, 0.3);
}

.hotel-search-button {
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-blue-ligth);
    width: 458px;
    height: 58px;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: var(--basic-blue);
}

.hotel-search-button:active {
    background-color: var(--basic-blue-dark);
    color: rgba(255, 255, 255, 0.3);
}

/* Footer */

.footer {
   min-height: 120px;
}

.index-footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    justify-self: center;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    min-height: 100%;
}

/* Footer Contacts */

.footer-contacts {
    width: 400;
    font-size: 21px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;

    margin: 0;
    margin-left: 111px;
}

/*Footer Socials*/

.footer-socials {
    width: 150px;
}

.footer-socials ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0;
}

.social-button-twitter {
    background-image: url("../img/index/twitter_icon.svg");   
}

.social-button-twitter:active {
    background-image: url("../img/index/twitter_icon_active.svg");
}

.social-button-fb {
    background-image: url("../img/index/fb_icon.svg");
}

.social-button-fb:active {
    background-image: url("../img/index/fb_icon_active.svg");
}

.social-button-youtube {
    background-image: url("../img/index/youtube_icon.svg");
}

.social-button-youtube:active {
    background-image: url("../img/index/youtube_icon_active.svg");
}

.social-button .social-button-wrap {
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue-ligth);
    background-position: center center;
    background-repeat: no-repeat;
}


.social-button .social-button-wrap:hover,
.social-button .social-button-wrap:focus {
    background-color: var(--basic-blue);
}

.social-button .social-button-wrap:active {
    background-color: var(--basic-blue-dark);
}

/*Footer Copyright*/

.footer-copyright {
    width: 197px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 26px;   
    margin-right: 138px;
}

.footer-copyright a {
    width: 115px;
    height: 41px;
    
    background-image: url("../img/index/logo_htmlacademy_2.svg");
    background-repeat: no-repeat;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    background-image: url("../img/index/logo_htmlacademy_hover.svg");
}

.footer-copyright a:active {
    background-image: url("../img/index/logo_htmlacademy_active.svg");
}


/* Hotels page */

/* Hotel filter */

.hotel-filter {
    color: var(--basic-white);
}

.hotel-filter .filter {
    display: flex;    
    margin-left: 73px;
    margin-right: 73px;
}

.filter .hotel-type {
    margin-left: 119px;
}

.infrastructure legend {
    margin-bottom: 24px;
}

.hotel-type legend {
    margin-bottom: 24px;
}

.filter li {
    margin-bottom: 25px;
    padding: 0;
}


.filter .hotel-price {
    margin-left: auto;
    width: 317px;
}

.filter {
    position: relative;
    min-height: 217px;    
}

.filter .hotel-filter-button {
    position: absolute;
    right: 168px;
    bottom: 32px;
}

.hotel-filter {
    width: 1200px;
   
    background-image: url("../img/hotels/background.jpg");
    background-repeat: no-repeat;
}

.filter fieldset{
    margin: 0;
    margin-top: 27px;
    padding: 0;
    border: none;
}

.filter legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotel-filter-button {
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    text-transform: uppercase;
}

.hotel-filter-button:hover,
.hotel-filter-button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/*Checkbox*/

.filter .check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter .check-box {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-left: -40px;
    background-image: url("../img/hotels/checkbox_off_icon.svg");
    background-repeat: no-repeat;
}

.filter .check-label {
    padding-left: 40px;
}

.check-input:checked + .check-box {
    background-image: url("../img/hotels/checkbox_on_icon.svg");
}

.check-input:disabled + .check-box {
    background-image: url("../img/hotels/checkbox_off_dis_icon.svg");
}

.check-input:checked:disabled + .check-box {
    background-image: url("../img/hotels/checkbox_on_dis_icon.svg");
}

/*Range*/

.price-controls input {
    width: 50px;
    padding: 10px;
    padding-left: 0;
    
    text-align: left;
    color: var(--basic-white);
    border: none;
    background: transparent; 
    font-family: inherit;
    font-size: inherit;
    
}

.price-controls label {
    text-align: center;
    width: 100%;
}

.price-controls .min-price {
    padding-left: 50px; /*подгоняется pixel_perfect*/
}

.price-controls .max-price {
    padding-left: 30px; /*подгоняется pixel_perfect*/
}

.price-controls .stick {
    width: 2px;
    height: 22px;
    background: var(--basic-white);
}

.price-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 10px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;    
}

.range-controls {
    position: relative;
    padding-top: 20px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }

.range-controls .bar {
    width: 248px;
    height: 2px;
    background: rgba(255, 255, 255, 1);
}
    
.range-controls .toggle {
    position: absolute;
    top: 11px;
    left: 0;
    
    width: 20px;
    height: 20px;
    padding: 0;
    
    background-color: #ababab;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(171,171,171,0.3);

    cursor: pointer;
}

.range-controls .toggle:hover {
    top: 10px;
    width: 23px;
    height: 23px;
    transform: translateX(-1px);
    transition: all 0.2s;
}

.range-controls .toggle-min {
    left: 0;
}

.range-controls .toggle-max {
    left: 238px;   
}

/* Sort panel */

.sort-panel {
    display: flex;
    min-height: 86px;
    align-items: center;
}

.sort-panel h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin-left: 73px;
}

.sort-panel p {
    font-size: 12px;
    line-height: 18px;
    margin-left: 46px;
}

.sort-by {
    display: flex;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40px;
}

.sort-by li:first-child {
    margin-right: 30px;
}

.sort-by li:last-child {
    margin-left: 33px;
}



.sort-button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    padding: 0;

    border-bottom: 1px dashed var(--basic-blue-ligth);
    /*не нравится как проявляет себя подчеркивание при интерактиве*/
    background-color: transparent;
    opacity: 0.3;
}

.sort-active {
    border: none;
    color: var(--basic-blue-ligth);
    opacity: 1;
}

.sort-button:hover,
.sort-button:focus {
    color: var(--basic-blue-ligth);
    opacity: 1;
}

.sort-button:active {
    color: var(--basic-black);
    border: none;
    opacity: 1;
}

.sort-order {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 73px;
    width: 34px;
    font-size: 0;
    line-height: 0;
    list-style: none;
    padding: 0;
}


.order-button {
    width: 11px;
    height: 10px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.sort-order .up {
    background-image: url("../img/hotels/up_rect_icon.svg");
}

.sort-order .up-active {
    background-image: url("../img/hotels/up_rect_active_icon.svg");
}

.sort-order .up:hover,
.sort-order .up:focus,
.sort-order .up-active:hover,
.sort-order .up-active:focus {
    background-image: url("../img/hotels/up_rect_hover_icon.svg");
}

.sort-order .up:active,
.sort-order .up-active:active {
    background-image: url("../img/hotels/up_rect_active_icon.svg");
}

.sort-order .down {
    background-image: url("../img/hotels/down_rect_icon.svg");
}

.sort-order .down-active {
    background-image: url("../img/hotels/down_rect_active_icon.svg");
}

.sort-order .down:hover,
.sort-order .down:focus,
.sort-order .down-active:hover,
.sort-order .down-active:focus {
    background-image: url("../img/hotels/down_rect_hover_icon.svg");
}

.sort-order .down:active,
.sort-order .down-active:active {
    background-image: url("../img/hotels/down_rect_active_icon.svg");
}

/* Searched hotels */

.hotels-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hotels-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 1px solid var(--input-focus-border);
        
    min-height: 150px;
}

.hotel-name-main-wrap {
    display: flex;
    align-items: flex-end;

    margin-left: 73px;
    margin-right: 73px;
}

.hotel-name-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-left: 30px;
}

.hotels-item-image {
    order: -1; 
    line-height: 0;
}

.hotel-name {
    display: block;
    margin-bottom: 11px; /*растояние название отеля - остальное*/
}

.hotels-list .hotel-name:hover,
.hotels-list .hotel-name:focus {
    color: var(--basic-blue-ligth);
}

.hotels-list .hotel-name:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.hotel-name-wrap p {
    display: grid; 
    grid-template-columns: auto auto;
    grid-column-gap: 6px;
    grid-row-gap: 15px;
    margin: 0;   
}

.hotels-list h3 {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;  
    padding: 0;
    margin: 0;
}

.hotel-name-main-wrap .hotel-rating-wrap {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    margin-left: auto; 
}

.star-line {
    text-align: end;  
}

.hotel-rating {
    display: block;
    width: 110px;
    height: 27px;
    text-align: center;
    background-color: var(--input-background);
}

/*Buttons*/

.detail-button {
    display: inline-block;
    width: 110px;
    height: 27px;
    padding-top: 3px;
    background-color: var(--basic-blue-ligth);
}

.detail-button:hover,
.detail-button:focus {
    background-color: var(--basic-blue);
}

.detail-button:active {
    background-color: var(--basic-blue-dark);
    color: rgba(255, 255, 255, 0.3);
}

.book-button {
    display: inline-block;
    width: 142px;
    height: 27px;
    background-color: var(--basic-brown-ligth);
}

.book-button:hover,
.book-button:focus {
    background-color: var(--basic-brown);
}

.book-button:active {
    background-color: var(--basic-brown-dark);
    color: rgba(255, 255, 255, 0.3);
}


.test-checkbox {
    margin-top: 50px;
    display: block;
    background-color:  rgb(125, 253, 5);

    min-height: 100px;
    width: 200px;
}

.test-checkbox img {
    display: block;
    margin: auto;
}


